.campaignsList {
    margin-left: 5%;
    display: inline-block;
    width: 60%;
    /* margin-right: 20%; */
}

.profile {
    display: inline-block;
    margin-top: 3%;
    width: 20%;
    position: absolute;
}