
<div style="text-align:center">
  <h1>
    Welcome to your {{ title }}!
  </h1>
</div>
<div class="row" style="margin-left: 20px;">
  <div class="col-md-6">
    <h2>Edibles</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let criteria of edibles" selected [color]="criteriaColor">
        {{criteria}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="col-md-6">
    <h2>Borough</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let criteria of boroughs" selected [color]="criteriaColor">
        {{criteria}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<br>
<div class="row between-lg" style="margin-left: 20px">
  <div *ngFor="let campaign of campaigns" class="col-sm-6 col-md-4 col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{campaign.title}}</mat-card-title>
          <mat-card-subtitle>{{campaign.companyName}}</mat-card-subtitle>
        </mat-card-header>
        <img (click)="openCampaign(campaign.id)" mat-card-image src={{campaign.img}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{campaign.content}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="actions">LIKE</button>
          <button mat-button class="actions">SHARE</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
