<div class="row" style="background-color: #FED7B5;">
  <div class="col-sm-2 col-md-2">
    <button mat-button>logo</button>
  </div>
  <div class="col-sm-2 col-md-2">
    <button mat-button (click)="toggleProfile()">tab-profile</button>
  </div>
  <div class="col-sm-2 col-md-2">
    <button mat-button>inbox</button>
  </div>
  <div class="col-sm-2 col-md-2">
    <button mat-button>settings</button>
  </div>
  <div class="col-sm-2 col-md-2">
    <button mat-button>recommended</button>
  </div>
  <div class="col-sm-2 col-md-2">
    <button mat-button>favorites</button>
  </div>  
</div>

<div class="row" *ngIf="tabProfileOpen else standard">
  <div class="col-md-3" style="background-color: #FED7B5;border: solid #FED7B5 5px; height:94vh; padding-bottom: 15px;">
    <profile-tab-component></profile-tab-component>
  </div>
  <div class="col-md-9" style="max-height: 94vh; padding-left: 5px; overflow-y:scroll; padding-bottom: 15px;">
    <div style="text-align:center">
        <h1>
          Welcome to your {{ title }}!
        </h1>
      </div>
      <div class="row between-lg" style="margin-left: 20px">
          <div *ngFor="let campaign of campaigns" class="col-sm-12 col-md-6 col-lg-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{campaign.title}}</mat-card-title>
                  <mat-card-subtitle>{{campaign.companyName}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{campaign.img}} alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>{{campaign.content}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="actions">LIKE</button>
                  <button mat-button class="actions">SHARE</button>
                </mat-card-actions>
              </mat-card>
          </div>
      </div>
  </div>
</div>

<ng-template #standard>
  <div >
    <div style="text-align:center">
        <h1>
          Welcome to your {{ title }}!
        </h1>
      </div>
      <div class="row between-lg" style="margin-left: 20px">
        <div *ngFor="let campaign of campaigns" class="col-sm-6 col-md-4 col-lg-3">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{campaign.title}}</mat-card-title>
                <mat-card-subtitle>{{campaign.companyName}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src={{campaign.img}} alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{campaign.content}}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button class="actions">LIKE</button>
                <button mat-button class="actions">SHARE</button>
              </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </div>
</ng-template>
