<div style="text-align:center">
  <h1>
    Welcome to your {{ title }}!
  </h1>
</div>

<div class="row">
    <div class="col-md-4" style="float:left">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Sample Campaign</mat-card-title>
              <mat-card-subtitle>Company Name</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="actions">LIKE</button>
              <button mat-button class="actions">SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
    
    <div class="col-md-4" style="float:left">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Sample Campaign</mat-card-title>
              <mat-card-subtitle>Company Name</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="actions">LIKE</button>
              <button mat-button class="actions">SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
    
    <div class="col-md-4" style="float:left">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Sample Campaign</mat-card-title>
              <mat-card-subtitle>Company Name</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="actions">LIKE</button>
              <button mat-button class="actions">SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>